.technology{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    justify-content: center;
    padding: 110px 70px;
    margin-left: -70px;
    margin-right: -70px;
}

.technology__title{
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 0;
}

.technology__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 26px;
    max-width: 480px;
    max-height: 40px;
}

.technology__list{
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 10px;
    min-height: 60px;
    list-style: none;
    margin-left: 40px;
    margin: auto;
    /* margin-bottom: 30px; */
    margin-top: 100px;
    width: 100%;
    padding-inline-start: 0;
}

.technology-item{
    list-style: none;
    background-color: #E8E8E8;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 768px) {

    .content {
        margin-left: 30px;
        margin-right: 30px;
    }

    .technology__list{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        margin-bottom: 0;
    }

    .technology{
        padding-bottom: 0px;
        padding-top: 0px;
        background-color: white;
        padding: 70px 30px;
        margin-left: -30px;
        margin-right: -30px;
    }

    .technology__title{
        font-size: 30px
    }
    
}

@media (max-width: 480px) {

    .technology__list{
        max-width: 178px;
    }
}