.about {
    padding-bottom: 110px;
    padding-top: 110px;
}

.about__list{
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 70px;
    grid-template-columns: repeat( 2, 1fr);
    gap: 40px;
}

.about-item{
    max-width: 550px;
}

.about-item__title{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 26px;
}

.about-item__text{
    font-size: 14px;
    line-height: 20px;
}

.about__progress{
    margin-top: 110px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0;
    
}

.about__line-progress{
    min-height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.about__line-progress_ended{
    min-height: 36px;
    background-color: #2BE080;
}

.about__line-progress_current{
    background-color: #F2F2F2;
}

.about__stage-time{
    font-size: 14px;
    line-height: 18px;
}

.about__stage-name{
    margin-top: 14px;
    text-align: center;
    color: #A0A0A0;
}
