.filters{
    display: flex;
    flex-direction: column;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}
.search__icon{
    max-width: 34px;
    max-height: 34px;
} 
.search__label{
    width: 100%;
}
.search__input{
    min-width: 100%;
    outline: none;
    border: none;
    text-align: center;
    font-size: 28px;
    line-height: 34px;
}
.search__button{
    border: none;
    border-radius: 17px;
    background-color: #3456F3;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 11px;
    line-height: 18px;
    color: #ffffff;
    max-height: 34px;
}
.main__line{
    height: 1px;
    background-color: #E8E8E8;
    margin-top: 15px;
}
.filter__container{
    display: flex;
    margin: auto;
    margin-top: 29px;
}
.filter__box{
    display: flex;
    margin: auto;
}
.filter__checkbox{
    display: inline-block;    
	height: 20px;    
	line-height: 28px;      
	margin-right: 10px;       
	position: relative;
	vertical-align: middle;
	font-size: 14px;
	user-select: none;	
}
.filter__checkbox-default{
    display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.filter__switch{
    display: inline-block;	
	width: 36px;
	height: 20px;	
	border-radius: 20px;
	position: relative;			
	vertical-align: top;
	background: #EBEBEB;
	transition: .6s;
}

.filter__switch:before{
    content: '';
	display: inline-block;	
	width: 8px;	
	height: 8px;
	position: absolute;
	top: 6px;
	left: 6px;
	background: #F5F5F5;
	border-radius: 50%;
	transition: .15s;		
}

.filter__checkbox-default:checked + .filter__switch {
	background: #2BE080;
}
.filter__checkbox-default:checked + .filter__switch:before {
	background: #ffffff;
    transform:translateX(16px);
}

.filter__name{
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
}